body {
  padding: 0 20px;
}

.form-section {
  margin-right: 20px;
}

.form-section > div {
  display: flex;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

textarea {
  min-height: 80px;
  min-width: 400px;
}

.secondary {
  min-width: 370px;
}

.attachment {
  margin-bottom: 40px;
  display: flex;
}

.data-col {
  display: block;
}

.top-row {
  justify-content: space-between;
  max-width: 500px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.remove-btn {
  margin: 0;
  background-color: inherit;
  font-size: 1.2em;
}

.remove-btn:hover {
  background-color: lightgray;
}

img {
  max-width: 400px;
  max-height: 300px;
}

.btn {
  height: 30px;
  padding: 8px;
  margin-right: 20px;
  background-color: darkgray;
  color: white;
}

.btn:hover {
  background-color: grey;
}

#add-attachment {
  margin-bottom: 20px;
}

.save {
  background-color: #212553;
  color: white;
  margin-bottom: 10px;
}

.save:hover {
  background-color: #3c4180;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
  color: black;
}

.hidden {
  visibility: hidden;
}

.page-bottom {
  display: flex;
}

.page-bottom > p {
  align-self: center;
  height: 30px;
  margin: 0;
}
